.App {
	overflow: hidden;
}

.btn {
	border: none;
	border-radius: 5%;
	display: block;
	text-align: center;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	position: relative;
	font-weight: 600;
	font-size: 15px;
	padding: 15px 50px;
	margin: 0 auto;
}

.error {
	color: red;
}

/* input {
	width: 90%;
	height: 20px;
	padding: 10px;
	margin: 10px auto;
} */

select {
	width: 95%;
	height: 40px;
	padding: 10px;
	margin: 10px auto;
}

textarea {
	width: 93%;
	height: 50px;
}

/* .page-container {
	height: 100vh;
} */

/* a {
	color: brown;
} */
