div .conetnt-container {
	width: 80%;
	margin: auto;
	text-align: center;
}

div .main-body {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: auto auto auto;
}

.spc {
	width: 200px;
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
	div .main-body {
		display: block;
	}
}
